body {
    font-family: Arial, sans-serif;
    background-color: #f5e0c5; /* Creamy brown color */
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(./images/background\ image.png);
  }
  
  header {
    background-color: #4b3621; /* Dark brown for header */
    color: #f5e0c5;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  nav a {
    color: #f5e0c5;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  main {
    padding: 40px;
  }
  
  #title-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  #chapter-section {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    background-color: #8c6c42; /* Light brown buttons */
    color: #f5e0c5;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 10px;
    transition: transform 0.3s;
  }
  
  button:disabled {
    background-color: #ccb18b;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    transform: scale(1.1);
  }
  
  .video-container {
    border: 2px solid #4b3621;
    padding: 20px;
    background-color: #f5e0c5;
  }
  
  .options {
    margin-top: 20px;
  }
  
  #next-chapter-btn {
    margin-top: 40px;
  }
  
  ul {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
  }
  
  h2, h3, h4 {
    margin-top: 20px;
  }
  
  #feedback {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .correct {
    color: green;
  }
  
  .wrong {
    color: red;
  }
  
  #law-education {
    margin-top: 20px;
    background-color: #fae6d3;
    padding: 20px;
    border-radius: 5px;
  }
  #scenario{
    padding-top: 50px;
    border: 2px solid #4b3621;
    padding: 20px;
    background-color: #f5e0c5;
    object-fit: cover;
    padding-right: 50px;
    
  }
  #scenario img{
    width: 90vw;
    height: 80vh;
  }
  .hidden {
    display : none
  }